#header{
    background: white;
}

#headerImg{
    display: block;
    margin: auto;
    width: 80%;
}

.images{
    height: 50px;
    margin: 3px 20px 0 3px;
}
#Alcove{
    height: 50px;
    margin: 3px 20px 0 3px;
}

li {
    float: left;
}

.socialMed{
    background:none;
    border: none;
    outline: none;
    margin:0;
    padding:0;
}

.topBar {
    list-style-type: none;
    width: 100%;
    height: 60px;
    padding: 0;
    overflow: hidden;
}

.topBarBut{
    Background:#f9f9f9;
    color: black;
    width: 90%;
    
    border: 1px solid black;
    outline: none;
    display: block;
    
    padding: 15px 16px;
    margin: 3px 15px 0 0;
    
    
    font-weight:bold;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    float: left;  
}

.topBarBut:hover {
  background: #ededed;
}
